:root {
  --color: #fff;
  --menu:#287effe1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--color) ;
  color: rgb(0, 0, 0);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--menu);
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  color: #fff;
}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.menu li {
  list-style: none;

}

.menu a:hover {
  background-color: var(--menu);
  color: #ffffff;
}

.menu .active {
  color: #fbfaff;

}
.toggle-menu,
.info-content__subtitle,
.info-content .sotial-networks {
  display: none;
}
.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
}
.clas{
  display: flex;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  gap: 25px;
  padding-left: 5vw;
  padding-top: 50px;
}
.clas img{
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--menu);
  border-radius: 80%;
  
}
.icono img:hover{
background-color: #FCDA68;
transition: 3s;
}
.download-cv {
	box-shadow: 0px 1px 0px 0px #1429e7;
	background:linear-gradient(to bottom, #1429e7 5%, #1429e7 100%);
	background-color:#1429e7;
	border-radius:6px;
	border: 2px solid #1429e7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:15px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1429e7;
}
.download-cv:hover {
	background:linear-gradient(to bottom, #4254f5 5%, #00109c 100%);
	background-color:#0eafe0;
}
.download-cv:active {
	position:relative;
	top:1px;
}
.Experience {
  display: grid;
  grid-template-columns: repeat(10, 2fr);
  width: 100vw;
  height: auto;
  align-items:flex-start;
  background-color: var(--menu);
}
.Expe {
  width: 25vw;
  grid-column: 1/5;
  padding-left: 200px;
  padding-top: 10%;
  color: #ffffff;
}

.Experience-info {
  grid-column: 7/10;
  padding: 1em;
}

.Experience-info h2 {
  font-size: 2em;
  color: #ffffff;
  
}
.divider span{
   color: #ffffff;
   font-weight: 600;
   padding-left: 10%;
}

.designer{
    padding-left: 30%;
    padding-top: -30%;
    border-bottom: 1px solid #ffffff;
}
.designer-A{
  padding-left: 30%;
  padding-top: -30%;
 
}
.divider p{
    font-weight: 100;
    font-size: 20px;
    color: #fff;
}
.section-uni{
  display: grid;
  grid-template-columns: repeat(10, 2fr);
  width: 100vw;
  height: auto;
  align-items:flex-start;
  background-color: var(--menu);
}
.portafolio-heading h3{
  font-size: 30px;
  padding-left: 200px;
  padding-top: 15px ;
}
.container-iconos .container1 {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.iconos{
  width: 200px;
  justify-content: center;
  margin: 1em ;
  color: #000000;
  border-radius: 100%;
}
.container-iconos img{
  padding-left: 35%;
}

.container1 h3{
  text-align:center;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.portafolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.portafolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.portafolio-heading h2{
  font-size: 2.5em;
  color: #fff;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: aqua;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.card {
  width: 380px;
  background-color: #ffffff;
  margin: 1em 1em 5em 1em;
  color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 2em;
  background-color: var(--menu);
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
}

.mobil, .email {
  width: 50%;
  height: 165px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.mobile-email-container {
  width: 355px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}
.contacto-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 80px auto 0;
}
#id-contacto h2 {
  font-size: 30px;
  font-weight: 00;
  padding-left: 200px;
  padding-top: 50px;

}

@media screen and (max-width: 795px) {
    .wrapper {
        width: 100vw;
        height: 100vh;
    }
  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    background-color: var(--menu);
    z-index: 1;
    transform: translateX(-110%);
    transition: all .2s ease-in-out;
  }

  .show-menu {
    border-bottom-right-radius: 10%;
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }

  .menu li {
    margin: 2em;
    list-style: none;
  }
  .clas{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 10vw;
    gap: 25px;
    padding-left: 5vw;
    padding-top: 50px;
  }
  .clas img{
    width: 10vw;
    height: 100px;
    padding: 20px;
    background-color: #8E7BEF;
    border-radius: 80%;
    
  }
  .icono img:hover{
    background-color: var(--menu);
    transition: 3s;
    }
    .download-cv,
    .project-details-button {
  padding: 15px 50px;
  background-color: #8E7BEF;
  border: none;
  margin-top: 70px;
  cursor: pointer;
  flex-direction: column;
 
  }
.download-cv{
  flex-direction: column;
  display: flex;
}
.download-cv:hover {
  background-color: var(--menu);
  box-shadow: none;
}
  .toggle-menu {
    display: block;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
  }

  .toggle-menu .fa-close {
    font-size: 1.7em;
    display: none;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    
  }
  .main a{
    text-decoration: none; 
  }
  .Expe {
    width: 80vw;
    grid-column: 1/5;
    padding-left: 40px;
    
  }
  
  .Expe h3{
    padding-top: 30%;
   color: #fff;
  }
  .Experience {
    display:flow-root;
    flex-direction: row-reverse;
    flex-direction: column;
  }
  .main img {
    width: min(80%, 350px);
    height: auto;
  }

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-content .sotial-networks,
  .info-content__subtitle {
    display: block;
  }

  .info-content__subtitle {
    margin-bottom: .5em;
  }
  
  .clas img{
    width: 40px;
    height: 40px;
    padding: 7px;
    margin-top: -45px;
  }
    
  .download-cv{
    margin-top: -10px;
    padding: 15px 50px;
    background-color: #8E7BEF;
    border: none;
    cursor: pointer;
   
  }

  .section-uni{
   
    height: auto;
   
  }
  .Experience-info {
    grid-column: 5/10;
    padding: 3em;
  }
  
  .Experience-info h2 {
    font-size: 2em;
    color: #ffffff;
    
  }
  .designer{
      padding-left: 45%;
      padding-top: -30%;
      border-bottom: 1px solid #ffffff;
  }
  .designer-A{
    padding-left: 45%;
    padding-top: -30%;
    color: #fff;
  }
  .divider span{
     color: #ffffff;
     font-weight: 600;
     padding-left: 10%;
  }
  
  .divider p{
      font-weight: 100;
      font-size: 20px;
      color: #ffffff;
  }
  .portafolio-heading h3{
    font-size: 30px;
    padding-left: 30%;
    padding-top: 15px;
    color: #ffffff;
  }
  #id-contacto h2 {
    font-size: 30px;
    font-weight: 00;
    padding-left: 130px;
    padding-top: 50px;
    color: #000000;
  }
 
}